.projectOverviewWrapper{
  grid-area: projectOverview;
  margin: 0 0 0 0;
  
}




@media (min-width: 768px) {
  .projectOverviewWrapper{
      grid-area: projectOverview;
      width: 60ch;
      margin: 0 0 2rem 0;
  }
  .projectOverviewWrapperText{
      grid-area: projectOverview;
      width: 60ch;
      margin: 0 0 0 0;
  }
  
}