/* HeroElement.module.css */

.heroWrapper {
  grid-area: heroWrapper;
  grid-auto-flow: column;
  overflow: hidden;
}

.heroContainer {
  display: flex;
  /* Enables flexbox layout */
  flex-direction: column;
  /* Stacks child elements vertically */
  justify-content: center;
  /* Centers child elements vertically */
  align-items: center;
  /* Centers child elements horizontally */
  grid-area: heroContainer;
  position: relative;
  aspect-ratio: 4 / 3;
  /* Aspect ratio */
  background-color: #3498db;
  /* Background color */
  font-size: 2rem;
  /* Font size */
  overflow: hidden;
  /* Hides overflow */
  padding: 30px;
  /* Padding */
}

.largeHeading {
  text-align: center;
  font-size: 2rem;
}

/* DESKTOP VIEW AND DESKTOP STYLES */
@media (min-width: 768px) {
.heroWrapper{
  grid-area: heroWrapper;
  grid-auto-flow: column;
  overflow: hidden;
}

.heroContainer {
  display: flex;
  /* Ensure it's flex on desktop */
  flex-direction: column;
  /* Stack items vertically */
  justify-content: center;
  /* Center content vertically */
  align-items: center;
  /* Center content horizontally */
  aspect-ratio: 4 / 3;
  overflow: hidden;
  max-height: 100vh;
  width: 100vw;
}

  .largeHeading {
    font-size: 4rem;

  }
}