.prodWrapper {
  width: 90%;
  margin: 8rem auto;
}

.productMainText {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "full full full full"
  "testBlue . . caption"
  "squareImage1 squareImage2 squareImage3 squareImage3"
  ". . . testRed"
  ;

}

