/* ImgCaption.module.css */

.imgCaptionWrapper {
  grid-area: imgCaption;
}

.imgCaptionContainer {
  display: flex;
  flex-direction: column;
}

/* Caption will be on the right on larger screens */
.captionRight {
  flex-direction: column;
}


.captionLeft {
  flex-direction: row-reverse;
}

.imageWrapper {
  flex: 1;
}

.captionWrapper {
  flex: 1;
  margin-top: 1rem;
  padding: 0rem 20rem 0rem 1rem;
}
.captionWrapper p {
  font-size: 0.875rem;
}

/* Adjust caption on larger screens */
@media (min-width: 768px) {
  .imgCaptionContainer {
    flex-direction: row;
  }

  .captionWrapper {
    max-width: 50%;
    margin: 0;
    /* For rectangular layout */
  }
}