.gridCanvas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'productImage'
    'productTitle'
    'productContent';
  gap: 4rem;
  max-width: 100%;
  margin: 2rem auto 0 auto;
}

/* Desktop Layout */
@media (min-width: 768px) {
  .gridCanvas {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      'productImage infoWrapper'
      'meta productContent';
    margin: 4rem auto 6rem auto;
    max-width: 100%;
    gap: 1rem 6rem;
  }
}

/* Grid Areas */

.infoWrapper {
  grid-area: infoWrapper;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0rem;
  max-width: 50ch;
}
.productImage {
  justify-self: start;
  align-self: center;
  width: 100%;
}
.productTitle {
  grid-area: productTitle;
  justify-self: center;
}

.meta {
  grid-area: meta;
}

.productContent {
  grid-area: productContent;
  max-width: 55ch;
}

/* Basic Image Styling */
.productImage img {
  height: auto;
  object-fit: cover;
  width: 100%;
}

/* Other smaller styles */
p.productSentence {
  font-size: var(--base-font-size);
  max-width: 40ch;
}
