.productWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'productImage'
    'productInfoWrapper'
    'productMeta'
    'productContent';
  gap: 1rem;
  max-width: 100%;
  margin: 1rem auto 0 auto;
}

/* Desktop Layout */
@media (min-width: 768px) {
  .productWrapper {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      'productImage productInfoWrapper'
      'productMeta productContent';
    margin: 4rem auto 6rem auto;
    max-width: 100%;
    gap: 1rem 6rem;
  }
}
/* Grid Areas */
.productImage {
  grid-area: productImage;
  justify-self: start;
  align-self: center;
  width: 100%;
}
.productInfoWrapper {
  grid-area: productInfoWrapper;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50ch;
}
.productMeta {
  grid-area: productMeta;
}
.productContent {
  grid-area: productContent;
  max-width: 55ch;
}

/* Basic Image Styling */
.productImage img {
  height: auto;
  object-fit: cover;
  width: 100%;
}

h1.productTitle {
  font-size: 2rem;
  margin: 1rem 0 0.5rem 0;
}

h2.productProducer {
  font-size: 1.25rem;
  margin: 0rem;
}

.productMeta p {
  margin: 0;
}

.productShortDescription {
  
}

.productContent {
  margin-bottom: 2rem;
}

.productStatus {
  margin-bottom: 0.25rem;
}
.productStatus p {
  margin: 0;
}