.footer {
  display: flex;
  flex-direction: column;
  /* Start with column layout for mobile */
  justify-content: flex-start;
  align-items: flex-start;
  /* padding: 1rem; */
  font-size: 0.875rem;
  letter-spacing: 0.02em;
  background-color:#272525;
  width: 100%;


}

.footerContainer {
  width: 90%;
  margin: 2rem auto 2rem auto;
}



.navLinks {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* Stack links on mobile */
  gap: 0.25rem 3rem;
  padding: 0;

}



.navLinks a {
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
  letter-spacing: 0.02em;
  transition: color 0.2s ease;

}

.navLinks a:hover {
  color: #007bff;
}

.copyrightPrivacy {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  /* Stack items on mobile */
  align-items: flex-end;
  /* width: 100%; */
  color: white;

}

.copyright {
  order: 1;
  /* margin-bottom: 2rem; */
}


@media (min-width: 843px) {

  /* Desktop view */
  .footer {
    flex-direction: row;
    /* Switch to row layout */
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 0;
  }

  .footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    /* Remove extra padding on larger screens */
  }

  .navLinks {
    flex-direction: row;
    /* Lay out links horizontally */
    gap: 2rem;
    width: auto;
    /* Let nav links take their natural width */
    margin: 0;
    /* Remove bottom margin */
  }

  /* Align copyright and privacy to the right */
  .copyrightPrivacy {
    flex-direction: row;
    /* Place them side by side */
    gap: 2rem;
    align-items: center;
    justify-content: flex-end;
  }
  .copyright {
    order: 1;
    margin-bottom: 0rem;
  }
  .copyrightPrivacy{
    margin-top: 0px;
  }
}