/* OutlinedButton.module.css */
.button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid hsl(0, 0%, 100%);
  /* Border color from global CSS variable */
  border-radius: 8px;
  /* Slightly rounded corners */
  background-color: transparent;
  /* Not filled */
  color: white;
  /* Text color (match border) */
  text-decoration: none;
  /* Remove underline for links */
  font-size: 16px;
  /* Font size */
}

.button:hover {
  background-color: transparent;
  /* Light transparency on hover */
  border: 2px solid hsl(0, 0%, 80%);;  
  color: hsl(0, 0%, 100%);
  text-decoration: none ;
}